.sidebar {
    display: flex;
    flex-direction: column;
    width: 260px;
    min-height: calc(100vh - 72px);
    padding: 20px 10px;
    border-right: 1px solid var(--additional24);

    .sidebar__menu {
        width: 240px;
        height: 100%;

        .sidebar__icon {
            width: 20px;
            height: 20px;
            fill: inherit;
        }
    }
}