:root {
    --additional100: #262626;
    --additional16: rgba(38, 38, 38, 0.16);
    --additional16S: #DCDCDC;
    --additional24: rgba(38, 38, 38, 0.24);
    --additional24S: #C7C7C7;
    --additional4: rgba(38, 38, 38, 0.04);
    --additional40: rgba(38, 38, 38, 0.4);
    --additional40S: #B2B2B2;
    --additional4S: #F5F5F5;
    --additional60: rgba(38, 38, 38, 0.6);
    --additional60S: #858585;
    --additional8: rgba(38, 38, 38, 0.08);
    --additional8S: #E8E8E8;
  
    --backgroundDisabled: #2626260A;
    --backgroundOne: #F5F5F5;
    --backgroundOneDraft: #F5F5F5;
    --backgroundOneInfo: #F8F6FB;
    --backgroundOneSuccess: #EFFCF0;
    --backgroundOneWarning: #FCF3EF;
    --backgroundZero: #ffffff;
  
    --brand: #148F2B;
    --brandPrimary: #148F2B;
    --brandQuaternary: #0A4014;
    --brandSecondary: #0D8523;
    --brandTertiary: #095C18;
    --brandTransparent16: rgba(20, 143, 43, 0.16);
    --brandTransparent24: rgba(20, 143, 43, 0.24);
    --brandTransparent40: rgba(20, 143, 43, 0.4);
    --brandTransparent8: rgba(20, 143, 43, 0.08);
  
    --dividerFat: rgba(38, 38, 38, 0.04);
    --dividerThin: rgba(38, 38, 38, 0.08);
  
    --faderLoader: rgba(255, 255, 255, 0.7);
    --faderOneFrom: #F5F5F5;
    --faderOneTo: rgba(255, 255, 255, 0);
    --faderZeroFrom: #ffffff;
    --faderZeroTo: rgba(255, 255, 255, 0);
  
    --firstShadow: rgba(38, 38, 38, 0.04);
    --focusColor: #262626;
  
    --info: #AD42F5;
    --infoPrimary: #AD42F5;
    --infoQuaternary: #501A74;
    --infoSecondary: #A139E5;
    --infoTertiary: #722BA1;
    --infoTransparent16: rgba(173, 66, 245, 0.16);
    --infoTransparent24: rgba(173, 66, 245, 0.24);
    --infoTransparent40: rgba(173, 66, 245, 0.4);
    --infoTransparent8: rgba(173, 66, 245, 0.08);
  
    --noColor: #ffffff;
    --primary: #262626;
  
    --sberPervyi600: #E30066;
    --sberPervyi650: #C40F64;
    --sberPervyi700: #A2125E;
    --sberPervyi750: #840F57;
  
    --sberPrivateBanking1150: #333F48;
    --sberPrivateBanking200: #D9E0E4;
    --sberPrivateBanking450: #A8B6C1;
    --sberPrivateBanking600: #DEE157;
    --sberPrivateBanking900: #566A7A;
    --sberPrivateBanking950: #A1A41D;
  
    --secondShadow: rgba(38, 38, 38, 0.16);
    --secondary: rgba(38, 38, 38, 0.7);
  
    --success: #148F2B;
    --successPrimary: #148F2B;
    --successQuaternary: #0A4014;
    --successSecondary: #0D8523;
    --successTertiary: #095C18;
    --successTransparent16: rgba(20, 143, 43, 0.16);
    --successTransparent24: rgba(20, 143, 43, 0.24);
    --successTransparent40: rgba(20, 143, 43, 0.4);
    --successTransparent40S: #a1d2aa;
    --successTransparent8: rgba(20, 143, 43, 0.08);
  
    --tertiary: rgba(38, 38, 38, 0.55);
    --transparent: rgba(255, 255, 255, 0);
  
    --warning: #E35502;
    --warningPrimary: #E35502;
    --warningQuaternary: #5C2709;
    --warningSecondary: #D14D00;
    --warningTertiary: #85380C;
    --warningTransparent16: rgba(227, 85, 2, 0.16);
    --warningTransparent24: rgba(227, 85, 2, 0.24);
    --warningTransparent40: rgba(227, 85, 2, 0.4);
    --warningTransparent8: rgba(227, 85, 2, 0.08);
  }